body {
  text-align: center;
  font-family: "Montserrat", sans-serif;
}

.player-title {
  display: flex;
  justify-content: center;
}
.player-title h3 {
  padding-left: 25px;
  padding-right: 25px;
}

.gameboard-container {
  margin-top: 2em;
  display: grid;
  width: 450px;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(3, 1fr);
  gap: 3px;
  justify-content: center;
  align-content: center;
  margin-left: auto;
  margin-right: auto;
}

.gb-cell {
  display: flex;
  width: 150px;
  height: 150px;
  background-color: black;
  /* border: 1px solid white; */
  color: white;
  font-size: 100px;
  justify-content: center;
  align-items: center;
}

.gb-cell:hover {
  cursor: pointer;
  opacity: 0.6;
  box-shadow: inset 1em 1em 1em black, 0 2.8px 2.2px rgba(0, 0, 0, 0.134),
    0 6.7px 5.3px rgba(0, 0, 0, 0.148), 0 12.5px 10px rgba(0, 0, 0, 0.16),
    0 22.3px 17.9px rgba(0, 0, 0, 0.172), 0 41.8px 33.4px rgba(0, 0, 0, 0.186),
    0 100px 80px rgba(0, 0, 0, 0.12);
  width: 95%;
  height: 95%;
  margin: auto;
}
